@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply underline decoration-dotted cursor-alias
  }
}