.m-7 {
  margin: 1.75rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  background: rgb(121, 118, 78);
  background: linear-gradient(
    90deg,
    rgba(121, 118, 78, 1) 100%,
    rgba(235, 237, 231, 1) 0%
  );
}
